asl-google-signin-button {
    
    color: white; /* change the text color to white */
    border-radius: 10px; /* change the border radius */
    width: 200px; /* change the width of the button */
    padding: 10px; /* change the padding */
  }