<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-5 py-3 position-relative">
                <img class="bg-auth-circle-shape" src="../../../assets/img/icons/spot-illustrations/bg-shape.png" alt=""
                    width="250" />
                <img class="bg-auth-circle-shape-2" src="../../../assets/img/icons/spot-illustrations/shape-1.png"
                    alt="" width="150" />
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <!-- Left Side -->
                            <div class="col-md-5 text-center">
                                <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                    <div class="bg-holder bg-auth-card-shape"
                                        style="background-image: url(../../../assets/img/icons/spot-illustrations/half-circle.png);">
                                    </div>
                                    <div class="z-index-1 position-relative">
                                        <a class="link-dark mb-4 font-sans-serif fs-4 d-inline-block fw-bolder">Pharmaciax
                                            docs</a>
                                        <p class="opacity-75 text-dark">بحث في القوانين و القرارات الوزارية و منشورات
                                            الأدوية</p>
                                    </div>
                                </div>
                                <p>
                                    <a href="https://www.pharmaciax.com/" target="_blank">
                                        <img src="../../../assets/img/logos/logo3.png" alt="https://www.pharmaciax.com/"
                                            width="250" height="150">
                                    </a>
                                </p>
                            </div>

                            <!-- Right Side -->
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <div class="row flex-between-center">
                                        <div class="col-auto">
                                            <h3>إعادة تعيين كلمة المرور</h3>
                                        </div>
                                    </div>
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                        <div class="mb-3">
                                            <label class="form-label" for="password">كلمة المرور الجديدة</label>
                                            <input type="password" class="form-control" id="password"
                                                formControlName="password"
                                                [ngClass]="{'is-invalid': passwordControl?.errors && passwordControl?.touched}">
                                            <div class="invalid-feedback"
                                                *ngIf="passwordControl?.errors?.['required'] && passwordControl?.touched">
                                                كلمة المرور مطلوبة
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="passwordControl?.errors?.['minlength'] && passwordControl?.touched">
                                                يجب أن تكون كلمة المرور 6 أحرف على الأقل
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="confirmPassword">تأكيد كلمة المرور</label>
                                            <input type="password" class="form-control" id="confirmPassword"
                                                formControlName="confirmPassword"
                                                [ngClass]="{'is-invalid': (resetForm.errors?.['mismatch'] || confirmPasswordControl?.errors?.['required']) && confirmPasswordControl?.touched}">
                                            <div class="invalid-feedback"
                                                *ngIf="confirmPasswordControl?.errors?.['required'] && confirmPasswordControl?.touched">
                                                تأكيد كلمة المرور مطلوب
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="resetForm.errors?.['mismatch'] && confirmPasswordControl?.touched">
                                                كلمات المرور غير متطابقة
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary d-block w-100 mt-3"
                                                [disabled]="!resetForm.valid">
                                                تغيير كلمة المرور
                                            </button>
                                        </div>
                                    </form>

                                    <div class="position-relative mt-4">
                                        <hr />
                                        <div class="divider-content-center">
                                            في ذكري الراحلة - دكتورة/ نادية أحمد حلمي
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<p-toast key="tc" position="top-center"></p-toast>