<div class="container-fluid">
  <nav class="navbar navbar-light navbar-glass navbar-expand-sm">
    <div class="buttons-container">
      <button class="btn btn-dark home-btn" routerLink="/home">العودة إلى الصفحة الرئيسية</button>

      <div class="action-buttons">
        <button *ngIf="file?.data?.createdBy.id == user.user_id || user.role_id === 1"
          [routerLink]="['/update_file',file?.data?.File_data_id]" class="btn btn-primary">تعديل</button>
        <button *ngIf="user.role_id === 1" type="button" class="btn btn-danger" (click)="isModalOpen = true"
          data-bs-toggle="modal" data-bs-target="#exampleModal">حذف</button>
        <button *ngIf="user.role_id === 1" type="button" class="btn btn-warning"
          (click)="resendEmail(file?.data?.File_data_id)">
          <mat-icon>email</mat-icon>
        </button>
      </div>
    </div>
  </nav>

  <div class="card mb-3">
    <div class="card-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <h5 class="mb-0">كود المستند</h5>
        </div>
        <div class="col-auto">
          <div class="views-counter">
            <mat-icon>visibility</mat-icon>
            <span>{{ getViewText(viewCount) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body bg-light border-top">
      <p class="mb-0 text-center text-danger">{{file?.data?.File_data_id}}</p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <h5 class="mb-0">تفاصيل المستند</h5>
        </div>
        <div class="col-auto">
          <button *ngIf="user.role_id === 1 || user.role_id === 2" class="btn status-badge" [ngClass]="{
                    'btn-success': file?.data?.isactive,
                    'btn-dark': !file?.data?.isactive
                  }">
            {{file?.data?.isactive ? 'Active' : 'Inactive'}}
          </button>
        </div>
      </div>
    </div>
    <div class="card-body bg-light border-top">
      <div class="row">
        <div class="col-3">
          <p class="label">إسم المستند</p>
        </div>
        <div class="col-9">
          <p class="value">{{file?.data?.file_name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="label">التصنيف الرئيسي</p>
        </div>
        <div class="col-9">
          <p class="value">{{file?.data?.Category?.Category_name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="label">التصنيف الفرعي</p>
        </div>
        <div class="col-9">
          <p class="value">{{subObj}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="label">المحتوي</p>
        </div>
        <div class="col-9">
          <p class="value" [innerHTML]="file?.data?.txt_Eng"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="label">رقم الإصدار</p>
        </div>
        <div class="col-3">
          <p class="value">{{file?.data?.Doc_No}}</p>
        </div>
        <div class="col-3">
          <p class="label">سنة الإصدار</p>
        </div>
        <div class="col-3">
          <p class="value">{{file?.data?.Year}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p class="label">الدولة</p>
        </div>
        <div class="col-12 col-sm-3 d-flex align-items-center mb-2 mb-sm-0">
          <img class="country-flag" [src]="file?.data?.Country?.flag">
          <span class="value">{{file?.data?.Country?.country_name}}</span>
        </div>
        <div class="col-12 col-sm-3">
          <p class="label">حالة المستند</p>
        </div>
        <div class="col-12 col-sm-3">
          <button class="btn btn-sm " [ngClass]="{
            'btn-success': file?.data?.file_data_status?.status_name === 'ساري',
            'btn-warning': file?.data?.file_data_status?.status_name === 'معدل',
            'btn-danger': file?.data?.file_data_status?.status_name === 'ملغي'
          }">
            {{file?.data?.file_data_status?.status_name}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="mb-0">صورة المستند</h5>
        </div>
      </div>
    </div>
    <div class="card-body bg-light">
      <ng-container *ngIf="pdfLoading; else pdfContent">
        <div class="text-center">
          <i class="fa fa-spinner fa-spin fa-4x"></i>
          <p>جاري التحميل...</p>
        </div>
      </ng-container>
      <ng-template #pdfContent>
        <object *ngIf="pdfUrl && !pdfLoading" [data]="pdfUrl" type="application/pdf" width="100%"
          [height]="isMobile ? '400px' : '600vh'">
          <div class="text-center">
            <p>يبدو أنه لا يمكن عرض الملف مباشرة.</p>
            <a [href]="pdfUrl" target="_blank" class="btn btn-primary">
              فتح المستند في نافذة جديدة
            </a>
          </div>
        </object>
      </ng-template>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="mb-0">وصف المستند</h5>
        </div>
      </div>
    </div>
    <div class="card-body bg-light border-top">
      <div [innerHTML]="sanitizedFileDesc" class="ql-editor"></div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body bg-light border-top" dir="ltr">
      <div class="row">
        <div class="col-3">
          <p class="mb-1">Created By:</p>
        </div>
        <div class="col-3 fw-bold">
          {{file?.data?.createdBy?.first_name}} {{file?.data?.createdBy?.last_name}}
        </div>
        <div class="col-3">
          <p class="mb-1">Created At:</p>
        </div>
        <div class="col-3 fw-bold">
          {{datePipe.transform(file?.data?.createdAt, 'dd/MM/yyyy')}}
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <p class="mb-1">Updated By:</p>
        </div>
        <div class="col-3 fw-bold">
          {{file?.data?.updatedBy?.first_name}} {{file?.data?.updatedBy?.last_name}}
        </div>
        <div class="col-3">
          <p class="mb-1">Updated At:</p>
        </div>
        <div class="col-3 fw-bold">
          {{datePipe.transform(file?.data?.updatedAt, 'dd/MM/yyyy')}}
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <app-google-ad [adSlot]="7950278870" [adFormat]="'auto'"></app-google-ad>
    </div>
  </div>

  <footer dir="ltr">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-1 text-600 text-start">
          Contact Us:
          <br>
          <a>E.mail: <span class="fw-bold">pharmacia2006@gmail.com</span></a>
          <br>
          <a href="http://www.facebook.com/Pharmaciax">http://www.facebook.com/Pharmaciax</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تأكيد الحذف</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          هل أنت متأكد من حذف هذا المستند؟
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
          <button type="button" class="btn btn-danger" (click)="delete(file?.data?.File_data_id)"
            data-bs-dismiss="modal">حذف</button>
        </div>
      </div>
    </div>
  </div>

  <div class="views-counter">
    <mat-icon>visibility</mat-icon>
    <span>{{ getViewText(viewCount) }}</span>
  </div>
</div>