<main class="main" id="top">
  <div class="container-fluid" data-layout="container">
    <div class="row flex-center min-vh-100 py-6">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <a class="d-flex flex-center mb-4" href="../../../index.html">
          <img
            class="me-2"
            src="../../../assets/img/icons/spot-illustrations/falcon.png"
            alt=""
            width="58"
          />
          <span class="font-sans-serif fw-bolder fs-5 d-inline-block"
            >falcon</span
          >
        </a>
        <div class="card">
          <div class="card-body p-4 p-sm-5">
            <h5 class="text-center">إعادة تعيين كلمة المرور</h5>
            <form
              class="mt-3"
              #changePasswordForm="ngForm"
              (ngSubmit)="changePassword()"
            >
              <div class="mb-3">
                <label class="form-label"> إسم المستخدم</label>
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  [(ngModel)]="model.name"
                  #name="ngModel"
                  disabled
                />
              </div>
              <div class="mb-3">
                <label class="form-label">البريد الألكتروني</label>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  [(ngModel)]="model.email"
                  #email="ngModel"
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                  disabled
                />
                <div
                  class="alert alert-danger"
                  *ngIf="(email.touched||changePasswordForm.submitted) && email.errors?.['required']"
                >
                  Email Is Required
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="(email.touched||changePasswordForm.submitted) && email.errors?.['pattern']"
                >
                  Invalid Email
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">كلمة المرور القديمة</label>
                <input
                  class="form-control"
                  type="password"
                  name="oldPassword"
                  [(ngModel)]="model.oldPassword"
                  #oldPassword="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="(oldPassword.touched||changePasswordForm.submitted) && oldPassword.errors?.['required']"
                >
                  Old Password Is Required
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">كلمة المرور الجديدة</label>
                <input
                  class="form-control"
                  type="password"
                  name="newPassword"
                  [(ngModel)]="model.newPassword"
                  #newPassword="ngModel"
                  minlength="5"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="(newPassword.touched||changePasswordForm.submitted) && newPassword.errors?.['required']"
                >
                  New Password Is Required
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="(newPassword.touched||changePasswordForm.submitted) && newPassword.errors?.['minlength']"
                >
                  New Password must contain at least 5 characters
                </div>
              </div>
              <div class="mb-3">
                <label for="confirmNewPassword" class="form-label"
                  >تأكيد كلمة المرور الجديدة</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="confirmNewPassword"
                  [(ngModel)]="model.confirmNewPassword"
                  #confirmNewPassword="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="(confirmNewPassword.touched||changePasswordForm.submitted) && confirmNewPassword.errors?.['required']"
                >
                  Confirm New Password Is Required
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    (confirmNewPassword.touched ||
                      changePasswordForm.submitted) &&
                    model.confirmNewPassword !== model.newPassword
                  "
                >
                  Confirm Password Not Match New Password
                </div>
              </div>
              <button
                class="btn btn-primary d-block w-100 mt-3"
                type="submit"
                [disabled]="
                  !changePasswordForm.valid || changePasswordForm.pending
                "
              >
                تغيير كلمة المرور
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
